@font-face {
  font-family: 'LEGO';
  font-style: normal;
  font-weight: normal;
  src: url('LEGO.woff') format('woff');
}

@font-face {
  font-family: 'LEGO Outlined';
  font-style: normal;
  font-weight: normal;
  src: url('LEGO Outlined.woff') format('woff');
}

body,
html {
  width: 100%;
  height: 100%
}

body {
  font-size: 1rem;
  background-image: url("../images/legoknop.gif");
  display: flex;
  flex-direction: column;
  font-family: LEGO;
}

header {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  place-items: center;
  row-gap: 1rem;
  user-select: none;
}

.logo {
  width: 5rem;
  height: 5rem;
  place-self: center start;
  margin-left: 0.5rem;
  animation: backInLeft 0.5s;
}

.page-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 0.5s;
}

.menu {
  appearance: none;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center end;
  transform: translateX(10%);
}

.menu::after {
  content: '';
  width: 2rem;
  height: 1.8rem;
  background-image: url("../images/menu.png");
  background-size: cover;
  cursor: pointer;
}


.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  grid-column: span 3;
  overflow: hidden;
  height: 0;
}

.menu:checked~.nav {
  height: auto;
  overflow: unset;
}

@media (min-width: 901px) {
  .menu {
    visibility: hidden;
  }

  .nav {
    height: auto;
    overflow: unset;
  }
}


.nav__brick-animation {
  grid-column: span 3;
}

.nav__welcome {
  grid-column: span 7;
  animation: bounceInDown 1s, headShake 1s 1s infinite;
}

.nav__news {
  animation: shakeX 5s infinite;
}

.nav__green {
  animation: pulse 1s infinite;
}

.nav_clickable {
  width: 5rem;
  height: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  text-decoration: none;
  animation: heartBeat 1s infinite;
}

.nav_clickable:hover {
  text-decoration: underline;
  animation: bounce 0.8s infinite;
}

main {
  flex: 1;
}

footer {
  height: 7.5rem;
}
