@font-face {
  font-family: 'LEGO';
  font-style: normal;
  font-weight: normal;
  src: url('LEGO.woff') format('woff');
}

@font-face {
  font-family: 'LEGO Outlined';
  font-style: normal;
  font-weight: normal;
  src: url('LEGO Outlined.woff') format('woff');
}

:root {
  --gap-05: 0.5rem;
  --gap-08: 0.8rem;
  --gap-2: 2rem;
  --gap-5: 5rem;
  --lego-blue: #0055BF;
  --site-width: 45rem;
}

html,
body {
  width: 100%;
  height: 100%
}

body {
  font-size: 1rem;
  background-image: url("../images/legoknop.gif");
  display: flex;
  flex-direction: column;
  font-family: LEGO;
  align-items: center;
}

a,
a:hover,
a:active,
a:visited {
  font-family: LEGO Outlined;
  color: var(--lego-blue);
  font-weight: bolder;
}

.header {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  place-items: center;
  user-select: none;
  width: 100%;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  place-self: center start;
  margin-left: 0.5rem;
  animation: backInLeft 0.5s;
}

.header__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 8rem;
  animation: bounce 0.5s, heartBeat 1s 0.5s infinite;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  gap: var(--gap-05);
}

.header__indicator img {
  max-width: 4.875rem;
}

.header__menu {
  appearance: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center end;
  transform: translateX(-10%);
}

.header__menu::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("../images/arrow.png");
  rotate: 180deg;
  background-size: cover;
  cursor: pointer;
}

.header__menu:hover::after {
  animation: shakeY 1s infinite;
}

.header__menu:checked::after {
  rotate: 0deg;
}

.header:not(:has(.header__menu:checked)) {
  margin-bottom: 1rem;
}

.header__menu:checked~.nav {
  height: auto;
  overflow: unset;
  padding: 1rem 0;
}

.nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  place-items: center;
  grid-column: span 3;
  overflow: hidden;
  height: 0;
}

.nav__brick-animation {
  grid-column: span 2;
}

.nav__welcome {
  grid-column: span 2;
  animation: bounceInDown 1s, headShake 1s 1s infinite;
}

.nav__news {
  animation: shakeX 5s infinite;
}

.nav__green {
  animation: pulse 1s infinite;
}

.nav__about-us {
  grid-column: span 2;
}

.nav__about-us,
.nav__clickable {
  width: 5rem;
  height: 6.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  text-decoration: none;
  animation: heartBeat 1s infinite;
}

.header__indicator:hover,
.nav__clickable:hover {
  text-decoration: underline;
  animation: bounce 0.8s infinite;
}

@media (min-width: 36rem) {
  .header__menu {
    visibility: hidden;
  }

  .nav {
    height: auto;
    overflow: unset;
  }

  .nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    grid-column: span 3;
    overflow: hidden;
  }

  .nav__brick-animation {
    grid-column: span 3;
  }

  .nav__welcome {
    grid-column: span 7;
  }

  .nav__about-us {
    grid-column: span 1;
  }

}

.article {
  flex: 1;
  display: grid;
  max-width: var(--site-width);
  padding: 0 0.5rem;
}

.article__home,
.article__surf-club,
.article__product,
.article__play,
.article__worldwide,
.article__learn,
.article__service,
.article__about-us,
.article__news,
.article__green {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}


.article__divider,
.article__divider_product {
  display: flex;
  justify-content: center;
  align-self: center;
}

.footer {
  height: min-content;
  display: grid;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  max-width: var(--site-width);
}

.footer__copyright {
  display: flex;
  justify-content: space-evenly;
  grid-column: span 2;
  flex-direction: column;
}

.footer__go-to-top,
.footer__go-home {
  place-self: center;
  width: 3.75rem;
  text-wrap: nowrap;
}

.footer__go-home img {
  height: 3.25rem;
  margin: 0 auto;
}

.footer__copyright>p:first-child::first-letter,
.article__home>p:first-child::first-letter {
  font-family: 'Press Start 2P', cursive;
  font-style: italic;
  font-weight: bolder;
}

@media(min-width:36rem) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .footer__copyright {
    place-self: center;
    display: flex;
    justify-content: space-evenly;
    grid-column: unset;
    order: 2;
  }

  .footer__go-to-top {
    order: 1;
  }

  .footer__go-home {
    order: 3;
  }
}
