@import url(reset.css);
@import url(global.css);

.article__learn {
  animation: slideInDown 1s;

}

.article__learning-center {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2.0625rem 1fr;
  place-items: center;
}
