@import url(reset.css);
@import url(global.css);

.article__news {
  animation: slideInLeft 1s;
  gap: 0.8rem;
}

.article__news p {
  display: flex;
  max-width: 38rem;
  align-items: center;
  gap: 2rem;
}
