@import url(reset.css);
@import url(global.css);

.article__play {
  animation: zoomInRight 1s;
  place-items: center;
  gap: var(--gap-08);
}

.article__game {
  display: grid;
}

.article__game-header,
.article__game-top,
.article__game-play {
  grid-column: span 2;
}

.article__game-play {
  cursor: pointer;
}

.article__game-yes,
.article__game-no {
  cursor: pointer;
}

@media (min-width: 36rem) {
  .article__game {
    grid-template-columns: 14.25rem 14.25rem;
  }

  .article__game-header,
  .article__game-top,
  .article__game-play {
    max-width: 28.5rem;
  }
}
