@import url(reset.css);
@import url(global.css);

.article__worldwide {
  animation: zoomInUp 1s;
  gap: var(--gap-2);
}

.article__worldwide img {
  max-width: 16rem;
}

@media (min-width: 36rem) {
  .article__worldwide img {
    max-width: 28rem;
  }
}
