body {
  height: 200vh;
}

.container {
  display: flex;
  background-color: grey;
  position: relative;
}

.item {
  width: 100px;
  height: 100px;
  background-color: salmon;
  margin: 0 1rem;
}

.positioned {
  background-color: purple;
  position: fixed;
  top: 30px;
  left: 30px;
}

.transformed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}
