* {
  box-sizing: border-box;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
  max-width: 100%;
}
