html,
body {
  width: 100vw;
  height: 100vh
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-rows: 10vh auto 10vh;
}


header,
footer {
  height: 10vh;
}

header {
  font-size: 2rem;
}

.gap-2vh {
  gap: 2vh;
}

.blocks {
  background-color: #eee;
}

@media (min-width: 37.5rem) and (max-width: 50rem) {
  .blocks {
    background-color: salmon;
  }
}

.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
